<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.noval.muhammadnaufal_1202140264_studycase5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="muhammadnaufal_1202140264_studycase5"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListToDoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" android:parentActivityName=".ListToDoActivity" />
        <activity android:name=".AddToDoActivity"></activity>
    </application>

</manifest>